body {
    color: #3A4750;
    font-size: 18px;
    line-height: 1.8;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fcfcfc;
}

@-webkit-keyframes opac {
  0%   { opacity: 0; }
  100% { opacity: 0.7; }
}
@-moz-keyframes opac {
  0%   { opacity: 0; }
  100% { opacity: 0.7; }
}
@-o-keyframes opac {
  0%   { opacity: 0; }
  100% { opacity: 0.7; }
}
@keyframes opac {
  0%   { opacity: 0; }
  100% { opacity: 0.7; }
}

.page-wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 680px;
}

::selection {
    background: #3A4750;
    color: #ebeced;
}

::-moz-selection {
    background: #3A4750;
    color: #ebeced;
}

/* css for home page */

.title-page {
    margin-top: 150px;
    text-align: center;
}

.title-page h1 {
    -webkit-transition: opacity 8s ease-in;
    -webkit-transition-delay: .40s;
    -moz-transition: opacity 8s ease-in;
    -moz-transition-delay: .40s;
    -o-transition: opacity 8s ease-in;
    -o-transition-delay: .40s;
    -ms-transition: opacity 8s ease-in;
    -ms-transition-delay: .40s;
    transition: opacity 8s ease-in;
    transition-delay: .40s;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 5px;
}

.title-page h1.load {
    opacity: 1;
}

.title-page h1 a:link {
    text-decoration: none;
    color: #3A4750;
}

.title-page h1 a:visited {
    color: #3A4750;
    text-decoration: none;
}

.title-page h1 a:hover {
    text-decoration: none;
    color: #20272c;
}

.title-page h2 {
    -webkit-transition: opacity 8s ease-in;
    -webkit-transition-delay: .60s;
    -moz-transition: opacity 8s ease-in;
    -moz-transition-delay: .60s;
    -o-transition: opacity 8s ease-in;
    -o-transition-delay: .60s;
    -ms-transition: opacity 8s ease-in;
    -ms-transition-delay: .60s;
    transition: opacity 8s ease-in;
    transition-delay: .60s;
    color: rgba(58,71,80,.6);
    font-size: 18px;
    margin-top: -24px;
    letter-spacing: 8px;
    text-transform: lowercase;
}

.title-page h2.load {
    opacity: 1;
}

.title-page .nav {
    -webkit-transition: opacity 8s ease-in;
    -webkit-transition-delay: .70s;
    -moz-transition: opacity 8s ease-in;
    -moz-transition-delay: .70s;
    -o-transition: opacity 8s ease-in;
    -o-transition-delay: .80s;
    -ms-transition: opacity 8s ease-in;
    -ms-transition-delay: .80s;
    transition: opacity 8s ease-in;
    transition-delay: .80s;
    font-size: 16px;
    font-weight: 500;
    padding: 50px;
}

.title-page .nav.load {
    opacity: 1;
}

.title-page .nav a {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    color: inherit;
    text-decoration: none;
    text-decoration: underline;
}

.about-text {
    -webkit-transition: opacity 8s ease-in;
    -webkit-transition-delay: 1.20s;
    -moz-transition: opacity 8s ease-in;
    -moz-transition-delay: 1.20s;
    -o-transition: opacity 8s ease-in;
    -o-transition-delay: 1.20s;
    -ms-transition: opacity 8s ease-in;
    -ms-transition-delay: 1.20s;
    transition: opacity 8s ease-in;
    transition-delay: 1.20s;
    margin-top: 40px;
    padding: 5px;
    text-align: left;
    color: rgba(58,71,80,.7);
    font-size: 17px;
    line-height: 1.7;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 2px;
}

.about-text.load {
    opacity: 1;
}

/* css for projects */
.projects {
    display: none;
}

.projects-wrapper {
    position: relative;
}

.project-box {
    margin-top: 50px;
    height: 210px;
    width: 100%;
    background-color: #fdfdfd;
    display: inline-block;
    text-align: center;
    border-radius: 35px;
    border: 1px dashed;
    border-left: 7px solid;
    border-color: #535353;
    -webkit-transition: background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    -o-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
    opacity: 0.7;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.box1 {
    -webkit-animation: opac .8s;
    -webkit-animation-delay: .40s;
    -moz-animation: opac .8s;
    -moz-animation-delay: .4s;
    -o-animation: opac .8s;
    -o-animation-delay: .4s;
    animation: opac .8s;
    animation-delay: .40s;
}

.box2 {
    -webkit-animation: opac .8s;
    -webkit-animation-delay: .80s;
    -moz-animation: opac .8s;
    -moz-animation-delay: .8s;
    -o-animation: opac .8s;
    -o-animation-delay: .8s;
    animation: opac .8s;
    animation-delay: .80s;
}

.box3 {
    -webkit-animation: opac .8s;
    -webkit-animation-delay: 1.20s;
    -moz-animation: opac .8s;
    -moz-animation-delay: 1.2s;
    -o-animation: opac .8s;
    -o-animation-delay: 1.2s;
    animation: opac .8s;
    animation-delay: 1.20s;
}

.box4 {
    -webkit-animation: opac .8s;
    -webkit-animation-delay: 1.50s;
    -moz-animation: opac .8s;
    -moz-animation-delay: 1.5s;
    -o-animation: opac .8s;
    -o-animation-delay: 1.5s;
    animation: opac .8s;
    animation-delay: 1.50s;
    margin-bottom: 25px;
}

.mg {
    margin-bottom: 25px;
}

.project-box:hover {
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
    opacity: 1;
    cursor: pointer;
}

.img-box {
    position: absolute;
    margin-top: 2%;
    left: calc(8.5%);
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
}

.box-image {
    border-radius: 30px;
}

.text-box {
    text-align: left;
    position: absolute;
    left: calc(40%);
    background: #fdfdfd;
    width: 410px;
    height: 180px;
    border-radius: 32px;
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s; 
}

.box-title {
    text-align: left;
    font-weight: 500;
    letter-spacing: 5px;
    color: #535353;
    padding-top: 10px;
    max-height: 45.5px;
}

.box-text {
    margin-right: 2%;
    text-align: justify;
    font-weight: 300;
    font-size: 12px;
    color: #535353;
    letter-spacing: 2px;
    max-height: 140px;
    overflow: scroll;
}

/* css for resume */
.resume {
    -webkit-transition: opacity 8s ease-in;
    -webkit-transition-delay: .40s;
    -moz-transition: opacity 8s ease-in;
    -moz-transition-delay: .40s;
    -o-transition: opacity 8s ease-in;
    -o-transition-delay: .40s;
    -ms-transition: opacity 8s ease-in;
    -ms-transition-delay: .40s;
    transition: opacity 8s ease-in;
    transition-delay: .40s;
    display: none;
    text-align: center;
    margin-bottom: 12px;
}

.resume.load {
    opacity: 1;
}

.resume .preview {
    margin-top: 20px;
}

.resume_button {
  border: none;
  color: #3a4750;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  margin-top: 56px;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 500px;
  background-color: #d7dadc;
  }

.resume a:link{
    text-decoration: none;
    color: #4d5961;
} 

.resume a:visited {
    color: #20272c;
    text-decoration: none;
}

.resume_button:hover {
    text-decoration: none;
    color: #d7dadc;
    background-color: #3a4750;
} 


/* css for contact */
.contact {
    display: none;
    text-align: center;
    margin-bottom: 12px;
}

.link1 {
    -webkit-transition: opacity 8s ease-in;
    -webkit-transition-delay: .40s;
    -moz-transition: opacity 8s ease-in;
    -moz-transition-delay: .40s;
    -o-transition: opacity 8s ease-in;
    -o-transition-delay: .40s;
    -ms-transition: opacity 8s ease-in;
    -ms-transition-delay: .40s;
    transition: opacity 8s ease-in;
    transition-delay: .40s;
}

.contact .link1.load {
    opacity: 1;
}

.link2 {
    -webkit-transition: opacity 8s ease-in;
    -webkit-transition-delay: .80s;
    -moz-transition: opacity 8s ease-in;
    -moz-transition-delay: .80s;
    -o-transition: opacity 8s ease-in;
    -o-transition-delay: .80s;
    -ms-transition: opacity 8s ease-in;
    -ms-transition-delay: .80s;
    transition: opacity 8s ease-in;
    transition-delay: .80s;
}

.contact .link2.load {
    opacity: 1;
}

.link3 {
    -webkit-transition: opacity 8s ease-in;
    -webkit-transition-delay: 1.20s;
    -moz-transition: opacity 8s ease-in;
    -moz-transition-delay: 1.20s;
    -o-transition: opacity 8s ease-in;
    -o-transition-delay: 1.20s;
    -ms-transition: opacity 8s ease-in;
    -ms-transition-delay: 1.20s;
    transition: opacity 8s ease-in;
    transition-delay: 1.20s;
    margin-bottom: 24px;
}

.contact .link3.load {
    opacity: 1;
}

.contact h1{
  font-size: 22px;
  font-weight: 500;
  text-decoration: underline;
  opacity: 0.8;
}

.contact-buttom {
  border: none;
  color: #3a4750;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 500px;
  background-color: #d7dadc;
}

.contact-buttom:hover {
    text-decoration: none;
    color: #d7dadc;
    background-color: #3a4750;
} 

.contact-buttom.gap {
  margin-bottom: 20px;
}

/* css for social media icons */
.home-social_media {
    padding-top: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.clear {
    clear: both;
}

.home-social_media a {
    margin-right: 40px;
    text-decoration: none;
    opacity: .6;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
}

.home-social_media a.lk.icon-link.icon1 {
  margin-left: 42px;
}

.home-social_media a.lk.icon-link:hover {
    opacity: 1;
}

.home-social_media a:visited {
    color: #20272c;
    text-decoration: none;
}

/* for a smaller resolution */
@media (max-width: 480px) {
  .img-box {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    left: -8%;
  }

  .text-box {
    left: 110px;
    font-size: 12px;
    max-width: 70%;
  }

  .box-text {
    overflow: scroll;
  }
}

@media (min-width: 481px) and (max-width: 540px) {
  .img-box {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    left: -2.5%;
  }

  .text-box {
    left: 150px;
    font-size: 12px;
    max-width: 65%;
  }

  .box-text {
    overflow: scroll;
  }
}

@media (min-width: 541px) and (max-width: 570px) {
  .img-box {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    left: -2.5%;
  }

  .text-box {
    left: 150px;
    font-size: 12px;
    max-width: 70%;
  }

  .box-text {
    overflow: scroll;
  }
}

@media (min-width: 570px) and (max-width: 635px) {
  .img-box {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    left: -2.2%;
  }

  .text-box {
    left: 160px;
    font-size: 12px;
    max-width: 70%;
  }
}

@media (min-width: 636px) and (max-width: 660px) {
  .img-box {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 2%;
  }

  .text-box {
    left: 200px;
    font-size: 12px;
    max-width: 65%;
  }
}

@media (min-width: 661px) and (max-width: 690px) {
  .img-box {
    left: 4%;
  }

  .text-box {
    left: 225px;
    font-size: 12px;
    max-width: 64%;
  }
  
}

@media (min-width: 691px) and (max-width: 720px) {
  .img-box {
    left: 4%;
  }

  .text-box {
    left: 240px;
    font-size: 12px;
    max-width: 64%;
  }
}
